Repository TrianguloY/URLCheck, changes with the labels that .github/labeler.yml gives for each.
All labels: Assets, Github, Core, Store file, Gradle wrapper, Ongoing translation, es-ES, fr-rFR, iw-IL, pt-rPT, tr-TR, uk-UA

Translated using Weblate (Spanish)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: Store file, Ongoing translation, es-ES

Translated using Weblate (Spanish)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: Store file, Ongoing translation, es-ES

Translated using Weblate (Spanish)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: Store file, Ongoing translation, es-ES

Translated using Weblate (Ukrainian)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/play/listings/uk/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Store file, Ongoing translation, es-ES, uk-UA

Translated using Weblate (French)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/play/listings/id/full-description.txt
  app/src/main/play/listings/id/short-description.txt
  app/src/main/play/listings/iw-IL/short-description.txt
  app/src/main/play/listings/tr-TR/full-description.txt
  app/src/main/play/listings/uk/full-description.txt
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Store file, Ongoing translation, es-ES, fr-rFR, tr-TR, uk-UA

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

Update translation files
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

Translated using Weblate (Ukrainian)
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

Added Obtainium and Github badge
  .github/workflows/release.yml
  README.md
  docs/badge_github.png
Labels: Github

Translated using Weblate (German)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

Collapsible text and disclaimer
  README.md
Labels: none

Minor cleanup
  README.md
Labels: none

Translated using Weblate (German)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

Translated using Weblate (German)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

Translated using Weblate (Ukrainian)
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

Translated using Weblate (Ukrainian)
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

Add commonly used libredirect URLs
  app/src/main/AndroidManifest.xml
Labels: none

Added translation using Weblate (Tamil)
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ta/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Ongoing translation, uk-UA

Update translation files
  app/src/main/play/release-notes/ar/default.txt
  app/src/main/play/release-notes/cs-CZ/default.txt
  app/src/main/play/release-notes/de-DE/default.txt
  app/src/main/play/release-notes/es-ES/default.txt
  app/src/main/play/release-notes/fa/default.txt
  app/src/main/play/release-notes/fr-FR/default.txt
  app/src/main/play/release-notes/id/default.txt
  app/src/main/play/release-notes/it-IT/default.txt
  app/src/main/play/release-notes/iw-IL/default.txt
  app/src/main/play/release-notes/ja-JP/default.txt
  app/src/main/play/release-notes/nl-NL/default.txt
  app/src/main/play/release-notes/no-NO/default.txt
  app/src/main/play/release-notes/pl-PL/default.txt
  app/src/main/play/release-notes/pt-PT/default.txt
  app/src/main/play/release-notes/ru-RU/default.txt
  app/src/main/play/release-notes/tr-TR/default.txt
  app/src/main/play/release-notes/uk/default.txt
  app/src/main/play/release-notes/vi/default.txt
  app/src/main/play/release-notes/zh-CN/default.txt
  app/src/main/play/release-notes/zh-TW/default.txt
Labels: Store file

Create YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/YouTubeLinkCleaner.java
Labels: Core

Create YouTubeLinkCleanerConfig.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleanerConfig.java
Labels: Core

Update strings.xml
  app/src/main/res/values/strings.xml
Labels: none

Create YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Delete app/src/main/java/com/trianguloy/urlchecker/modules/YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/YouTubeLinkCleaner.java
Labels: Core

Update ModuleManager.java
  app/src/main/java/com/trianguloy/urlchecker/modules/ModuleManager.java
Labels: Core

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Create module_youtube_cleaner.xml
  app/src/main/res/layout/module_youtube_cleaner.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Update strings.xml
  app/src/main/res/values/strings.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Create config_youtube_cleaner.xml
  app/src/main/res/layout/config_youtube_cleaner.xml
Labels: none

Update strings.xml
  app/src/main/res/values/strings.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Update config_youtube_cleaner.xml
  app/src/main/res/layout/config_youtube_cleaner.xml
Labels: none

Update config_youtube_cleaner.xml
  app/src/main/res/layout/config_youtube_cleaner.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

.github/labeler.yml:

# Made with love
# see https://github.com/actions/labeler
# for more informations

# Add 'assets' label to any assets file changes within the source dir
Assets:
- app/src/main/assets/**/*

# Add 'Github' label to any git file changes within the source dir
Github:
- .github/**/*

# Add 'Core' label to any change within the 'core' package
Core:
- app/src/main/java/com/trianguloy/urlchecker/**/*

# Add 'Store file' label to any change within the 'play' folder and subfolder(s)
Store file:
- app/src/main/play/**/*

# Add 'Gradle wrapper' label to any change within the 'gradle' folder and subfolder
Gradle wrapper:
- gradle/wrapper/**/*

# Add 'Ongoing translation' label to any change to strings.xml files
Ongoing translation:
- app/src/main/res/values-es/strings.xml
- app/src/main/res/values-fr-rFR/strings.xml
- app/src/main/res/values-iw/strings.xml
- app/src/main/res/values-pt-rPT/strings.xml
- app/src/main/res/values-tr/strings.xml
- app/src/main/res/values-uk/strings.xml

# Add language code label to any change to specific strings.xml files
es-ES:
- app/src/main/res/values-es/strings.xml

fr-rFR:
- app/src/main/res/values-fr-rFR/strings.xml

iw-IL:
- app/src/main/res/values-iw/strings.xml

pt-rPT:
- app/src/main/res/values-pt-rPT/strings.xml

tr-TR:
- app/src/main/res/values-tr/strings.xml

uk-UA:
- app/src/main/res/values-uk/strings.xml
