Repository TrianguloY/URLCheck, changes with the labels that .github/labeler.yml gives for each.
All labels: Assets, Automation, Github, Core, Store file, Gradle wrapper

Translated using Weblate (Spanish)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: Store file

Translated using Weblate (Spanish)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: Store file

Translated using Weblate (Spanish)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: Store file

Translated using Weblate (Ukrainian)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/play/listings/uk/full-description.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Store file

Translated using Weblate (French)
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/play/listings/id/full-description.txt
  app/src/main/play/listings/id/short-description.txt
  app/src/main/play/listings/iw-IL/short-description.txt
  app/src/main/play/listings/tr-TR/full-description.txt
  app/src/main/play/listings/uk/full-description.txt
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-in/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Store file

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

Update translation files
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: none

Translated using Weblate (Ukrainian)
  app/src/main/res/values-uk/strings.xml
Labels: none

Added Obtainium and Github badge
  .github/workflows/release.yml
  README.md
  docs/badge_github.png
Labels: Automation, Github

Translated using Weblate (German)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: none

Collapsible text and disclaimer
  README.md
Labels: none

Minor cleanup
  README.md
Labels: none

Translated using Weblate (German)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: none

Translated using Weblate (German)
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: none

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

Translated using Weblate (Ukrainian)
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: none

Translated using Weblate (Ukrainian)
  app/src/main/res/values-uk/strings.xml
Labels: none

[action] Updated data.minify.json
  app/src/main/assets/data.minify.json
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
Labels: Assets, Core

Add commonly used libredirect URLs
  app/src/main/AndroidManifest.xml
Labels: none

Added translation using Weblate (Tamil)
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ta/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: none

Update translation files
  app/src/main/play/release-notes/ar/default.txt
  app/src/main/play/release-notes/cs-CZ/default.txt
  app/src/main/play/release-notes/de-DE/default.txt
  app/src/main/play/release-notes/es-ES/default.txt
  app/src/main/play/release-notes/fa/default.txt
  app/src/main/play/release-notes/fr-FR/default.txt
  app/src/main/play/release-notes/id/default.txt
  app/src/main/play/release-notes/it-IT/default.txt
  app/src/main/play/release-notes/iw-IL/default.txt
  app/src/main/play/release-notes/ja-JP/default.txt
  app/src/main/play/release-notes/nl-NL/default.txt
  app/src/main/play/release-notes/no-NO/default.txt
  app/src/main/play/release-notes/pl-PL/default.txt
  app/src/main/play/release-notes/pt-PT/default.txt
  app/src/main/play/release-notes/ru-RU/default.txt
  app/src/main/play/release-notes/tr-TR/default.txt
  app/src/main/play/release-notes/uk/default.txt
  app/src/main/play/release-notes/vi/default.txt
  app/src/main/play/release-notes/zh-CN/default.txt
  app/src/main/play/release-notes/zh-TW/default.txt
Labels: Store file

Create YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/YouTubeLinkCleaner.java
Labels: Core

Create YouTubeLinkCleanerConfig.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleanerConfig.java
Labels: Core

Update strings.xml
  app/src/main/res/values/strings.xml
Labels: none

Create YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Delete app/src/main/java/com/trianguloy/urlchecker/modules/YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/YouTubeLinkCleaner.java
Labels: Core

Update ModuleManager.java
  app/src/main/java/com/trianguloy/urlchecker/modules/ModuleManager.java
Labels: Core

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Create module_youtube_cleaner.xml
  app/src/main/res/layout/module_youtube_cleaner.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Update strings.xml
  app/src/main/res/values/strings.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Create config_youtube_cleaner.xml
  app/src/main/res/layout/config_youtube_cleaner.xml
Labels: none

Update strings.xml
  app/src/main/res/values/strings.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

Update config_youtube_cleaner.xml
  app/src/main/res/layout/config_youtube_cleaner.xml
Labels: none

Update config_youtube_cleaner.xml
  app/src/main/res/layout/config_youtube_cleaner.xml
Labels: none

Update YouTubeLinkCleaner.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/YouTubeLinkCleaner.java
Labels: Core

.github/labeler.yml:

# Made with love
# see https://github.com/actions/labeler
# for more informations

# Add 'assets' label to any assets file changes within the source dir
Assets:
- app/src/main/assets/**/*

# Add 'Automation' label to any file changes within scripts or workflows dir
Automation:
- .github/scripts/**/*
- .github/workflows/**/*

# Add 'Github' label to any git file changes within the source dir
Github:
- .github/**/*

# Add 'Core' label to any change within the 'core' package
Core:
- app/src/main/java/**/*
- app/src/main/kotlin/**/*

# Add 'Store file' label to any change within the 'play' folder and subfolder(s)
Store file:
- app/src/main/play/**/*

# Add 'Gradle wrapper' label to any change within the 'gradle' folder and subfolder
Gradle wrapper:
- gradle/wrapper/**/*

# Add 'Translation` label to any change to strings.xml files as long as the English strings.xml file hasn't changed
Translation:
- any: ['app/src/**/strings.xml']
  all: ['!app/src/main/res/values/strings.xml']
