Repository TrianguloY/URLCheck, pull requests merged in 2022-10, with the labels that each got.

#114 Update PR labeler
  .github/labeler.yml
Labels: Github

#116 Informations in Labeler Action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Github, Automation

#110 Assets update action
  .github/scripts/file-updater.sh
  .github/workflows/assets-updater.yml
Labels: Github, Automation

#123 fr-rFR update
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#124 Add Japanese translation
  app/src/main/play/listings/ja/full-description.txt
  app/src/main/play/listings/ja/short-description.txt
  app/src/main/play/listings/ja/title.txt
  app/src/main/res/values-ja/strings.xml
Labels: Translation, Store file

#126 Update strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#128 Update assets-updater.yml
  .github/workflows/assets-updater.yml
Labels: Github, Automation

#129 updated assets-updater.yml action
  .github/scripts/file-updater.sh
  .github/workflows/assets-updater.yml
Labels: Github, Automation

#131 Update french changelogs
  app/src/main/play/release-notes/fr-FR/default.txt
Labels: Store file

#133 New (EN) Screenshots
  app/src/main/play/listings/en-US/graphics/phone-screenshots/5-modules.png
  app/src/main/play/listings/en-US/graphics/phone-screenshots/6-modules.png
Labels: Store file

#136 Update French files
  app/src/main/play/release-notes/fr-FR/default.txt
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation, Store file

#135 Update Japanese strings
  app/src/main/res/values-ja/strings.xml
Labels: Translation

#137 ja-JP screenshots
  app/src/main/play/listings/ja-JP/graphics/phone-screenshots/1-title.png
  app/src/main/play/listings/ja-JP/graphics/phone-screenshots/2-dialog.png
  app/src/main/play/listings/ja-JP/graphics/phone-screenshots/3-dialog.png
  app/src/main/play/listings/ja-JP/graphics/phone-screenshots/4-modules.png
  app/src/main/play/listings/ja-JP/graphics/phone-screenshots/5-modules.png
  app/src/main/play/listings/ja-JP/graphics/phone-screenshots/6-modules.png
  app/src/main/play/listings/ja-JP/graphics/phone-screenshots/7-modules.png
Labels: Store file

#138 Update screenshot (en)
  app/src/main/play/listings/en-US/graphics/phone-screenshots/6-modules.png
Labels: Store file
