Repository TrianguloY/URLCheck, pull requests merged in 2022-12, with the labels that each got.

#147 Update french translation
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#148 Screenshots changes
  app/src/main/play/listings/en-US/graphics/phone-screenshots/1-title.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/1-title.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/1-title.png
Labels: Store file

#149 Update french translation
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#150 Update French strings
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#152 French update
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#154 Screenshots update
  app/src/main/play/listings/en-US/graphics/phone-screenshots/2-dialog.png
  app/src/main/play/listings/en-US/graphics/phone-screenshots/3-dialog.png
  app/src/main/play/listings/en-US/graphics/phone-screenshots/4-modules.png
  app/src/main/play/listings/en-US/graphics/phone-screenshots/5-modules.png
  app/src/main/play/listings/en-US/graphics/phone-screenshots/6-modules.png
  app/src/main/play/listings/en-US/graphics/phone-screenshots/7-modules.png
  app/src/main/play/listings/en-US/graphics/phone-screenshots/8-settings.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/2-dialog.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/3-dialog.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/4-modules.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/5-modules.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/6-modules.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/7-modules.png
  app/src/main/play/listings/es-ES/graphics/phone-screenshots/8-settings.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/2-dialog.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/3-dialog.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/4-modules.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/5-modules.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/6-modules.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/7-modules.png
  app/src/main/play/listings/fr-FR/graphics/phone-screenshots/8-settings.png
Labels: Store file

#156 Update Pattern Checker description
  app/src/main/play/listings/en-US/full-description.txt
  app/src/main/play/listings/es-ES/full-description.txt
  app/src/main/play/listings/fr-FR/full-description.txt
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values/strings.xml
Labels: Store file

#157 Added italian translation files
  app/src/main/play/listings/it-IT/full-description.txt
  app/src/main/play/listings/it-IT/short-description.txt
  app/src/main/play/listings/it-IT/title.txt
  app/src/main/res/values-it/strings.xml
Labels: Translation, Store file
