Repository TrianguloY/URLCheck, pull requests merged in 2023-02, with the labels that each got.

#164 Tutorial screen
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/trianguloy/urlchecker/activities/MainActivity.java
  app/src/main/java/com/trianguloy/urlchecker/activities/SettingsActivity.java
  app/src/main/java/com/trianguloy/urlchecker/activities/TutorialActivity.java
  app/src/main/java/com/trianguloy/urlchecker/fragments/ActivityResultInjector.java
  app/src/main/java/com/trianguloy/urlchecker/fragments/BrowserButtonsFragment.java
  app/src/main/java/com/trianguloy/urlchecker/fragments/Fragment.java
  app/src/main/java/com/trianguloy/urlchecker/modules/AModuleConfig.java
  app/src/main/java/com/trianguloy/urlchecker/modules/AModuleDialog.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/TextInputModule.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/DoubleEvent.java
  app/src/main/res/layout/activity_settings.xml
  app/src/main/res/layout/activity_tutorial.xml
  app/src/main/res/layout/fragment_browser_buttons.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, Core

#173 Update French translation
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#174 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.md
Labels: Github

#176 Update strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#178 Update fr-FR strings
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation

#186 Add Simplified Chinese translation
  app/src/main/play/listings/zh-CN/full-description.txt
  app/src/main/play/listings/zh-CN/short-description.txt
  app/src/main/play/listings/zh-CN/title.txt
  app/src/main/res/values-zh-rCN/strings.xml
Labels: Translation, Store file

#194 French files update
  app/src/main/play/listings/fr-FR/full-description.txt
  app/src/main/play/release-notes/fr-FR/default.txt
  app/src/main/res/values-fr-rFR/strings.xml
Labels: Translation, Store file
