Repository TrianguloY/URLCheck, pull requests merged in 2023-03, with the labels that each got.

#198 New Flags Editor module
  app/src/main/java/com/trianguloy/urlchecker/dialogs/MainDialog.java
  app/src/main/java/com/trianguloy/urlchecker/modules/AModuleDialog.java
  app/src/main/java/com/trianguloy/urlchecker/modules/ModuleManager.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/DebugModule.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/FlagsModule.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/HistoryModule.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/OpenModule.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/AndroidUtils.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/GenericPref.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/JavaUtils.java
  app/src/main/res/layout/config_flagseditor.xml
  app/src/main/res/layout/dialog_editflags.xml
  app/src/main/res/values/strings.xml
Labels: enhancement, Core

#204 Translations update from Hosted Weblate
  app/src/main/play/listings/es-ES/full-description.txt
  app/src/main/play/listings/es-ES/short-description.txt
  app/src/main/play/listings/pl-PL/short-description.txt
  app/src/main/play/release-notes/es-ES/default.txt
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-uk/strings.xml
Labels: Translation, Store file

#209 Translations update from Hosted Weblate
  app/src/main/res/values-pt-rBR/strings.xml
Labels: Translation

#214 Translations update from Hosted Weblate
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ro/strings.xml
Labels: Translation
