Repository TrianguloY/URLCheck, pull requests merged in 2023-04, with the labels that each got.

#215 Translations update from Hosted Weblate
  app/src/main/play/listings/it-IT/full-description.txt
  app/src/main/play/listings/it-IT/short-description.txt
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: Translation, Store file

#217 Fully translated into Turkish
  app/src/main/res/values-tr/strings.xml
Labels: Translation

#218 Translations update from Hosted Weblate
  app/src/main/play/release-notes/no-NO/default.txt
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Labels: Translation, Store file

#216 Flags module update
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/trianguloy/urlchecker/dialogs/JsonEditor.java
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/CTabs.java
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/ClearUrlCatalog.java
  app/src/main/java/com/trianguloy/urlchecker/modules/companions/Flags.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/FlagsModule.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/LogModule.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/OpenModule.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/TextInputModule.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/VirusTotalModule.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/AndroidSettings.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/DefaultTextWatcher.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/Enums.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/GenericPref.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/JavaUtils.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/TranslatableEnum.java
  app/src/main/java/com/trianguloy/urlchecker/views/CycleImageButton.java
  app/src/main/res/drawable/flag_auto.xml
  app/src/main/res/drawable/flag_off.xml
  app/src/main/res/drawable/flag_on.xml
  app/src/main/res/drawable/hide.xml
  app/src/main/res/drawable/show.xml
  app/src/main/res/layout/config_flags.xml
  app/src/main/res/layout/dialog_editflags.xml
  app/src/main/res/layout/dialog_flags.xml
  app/src/main/res/layout/dialog_flags_entry.xml
  app/src/main/res/layout/flags_editor.xml
  app/src/main/res/layout/flags_editor_entry.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: Core
