Repository TrianguloY/URLCheck, pull requests merged in 2023-05, with the labels that each got.

#222 Translations update from Hosted Weblate
  app/src/main/play/listings/zh-CN/short-description.txt
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Labels: Translation, Store file

#229 fix shortcut
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/trianguloy/urlchecker/activities/ShortcutsActivity.java
Labels: Core

#233 I have added issue #98, which was the request to add a 'copy URL' but…
  app/src/main/java/com/trianguloy/urlchecker/activities/MainActivity.java
  app/src/main/java/com/trianguloy/urlchecker/modules/list/OpenModule.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/AndroidUtils.java
  app/src/main/res/drawable/copy.xml
  app/src/main/res/drawable/share.xml
  app/src/main/res/layout/config_open.xml
  app/src/main/res/layout/dialog_open.xml
  app/src/main/res/values/strings.xml
Labels: Core

#232 Translations update from Hosted Weblate
  app/src/main/play/listings/de-DE/full-description.txt
  app/src/main/play/listings/de-DE/short-description.txt
  app/src/main/play/release-notes/de-DE/default.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-tr/strings.xml
Labels: Translation, Store file

#239 Translations update from Hosted Weblate
  app/src/main/res/values-es/strings.xml
Labels: Translation
