Repository TrianguloY/URLCheck, pull requests merged in 2023-06, with the labels that each got.

#240 Translations update from Hosted Weblate
  app/src/main/play/listings/tr-TR/full-description.txt
  app/src/main/play/listings/tr-TR/short-description.txt
  app/src/main/play/release-notes/tr-TR/default.txt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-tr/strings.xml
Labels: Translation, Store file

#243 Pattern Checker: Fix optional groups giving a null instead of an empty string
  app/src/main/java/com/trianguloy/urlchecker/modules/list/PatternModule.java
  app/src/main/java/com/trianguloy/urlchecker/utilities/RegexFix.java
  app/src/main/res/layout/config_patterns.xml
  app/src/main/res/values/strings.xml
Labels: Core

#246 Translations update from Hosted Weblate
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-tr/strings.xml
Labels: Translation

#251 Translations update from Hosted Weblate
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-nb-rNO/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-tr/strings.xml
Labels: Translation

#254 Translations update from Hosted Weblate
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
Labels: Translation
